
	// Use these variables when compiling directly

	@naver-margin:					0;			// 0

	@naver-handle-background:		#fff;		// #fff
	@naver-handle-text-color:		#111;		// #111
	@naver-handle-font-size:		16px;		// 16px
	@naver-handle-padding:			10px 15px;	// 10px 15px

	@naver-border-color:			#ccc;		// #ccc
	@naver-border-size:				1px;		// 1px

	@naver-icon-offset:				15px;		// 15px
	@naver-icon-color:				#ccc;		// #ccc
	@naver-icon-height:				3px;		// 3px
	@naver-icon-width:				15px;		// 15px

	@naver-icon-close-size:			15px;		// 15px
	@naver-icon-close-font-size:	22px;		// 22px

	@naver-container-background:	#fff;		// #fff;
	@naver-container-border-color:	#ccc;		// #ccc
	@naver-container-border-size:	1px;		// 1px