
	// Use these variables when compiling directly

	@tipper-background:				#111;					// #111
	@tipper-border-radius:			3px;					// 3px
	@tipper-padding: 				10px 15px;				// 10px 15px
	@tipper-z-index:				10; 					// 10

	@tipper-text-color:				#fff;					// #fff
	@tipper-font-size:				12px;					// 12px

	@tipper-box-shadow-color: 		rgba(0, 0, 0, 0.35);	// rgba(0, 0, 0, 0.35)
	@tipper-box-shadow-blur: 		5px;					// 5px
	@tipper-box-shadow-offset: 		1px;					// 1px

	@tipper-transition-duration:	0.15s; 					// 0.15s

	@tipper-caret-size: 			5px;					// 5px