/*
 * Grid Overlay Bookmarklet <http://formstone.it/grid>
 * @author Ben Plum
 * @version 1.1.0
 *
 * Copyright 2013 Ben Plum <mr@benplum.co>
 */

	#fs-grid-menu,
	#fs-grid-menu *,
	#fs-grid-overlay,
	#fs-grid-overlay * {
		-webkit-transition: none;
		        transition: none;
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
	}

	#fs-grid-menu {
		position: fixed;
		z-index: 100001;

		background: #222;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
		color: #ccc;
		font-family: Helvetica, Arial, sans-serif;
		line-height: 1;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	#fs-grid-menu *:focus {
		outline: none;
	}

	#fs-grid-menu .fs-grid-statuses {
		height: 35px;

		border-right: 1px solid #000;
		float: left;
		line-height: 17px;
		padding: 10px;
	}

	#fs-grid-menu .fs-grid-status {
		width: 25px;
		height: 15px;

		border-radius: 3px;
		color: #ccc;
		display: block;
		float: left;
		font-size: 10px;
		margin: 0 1px;
		text-align: center;
		text-transform: uppercase;
	}

	@media screen and (max-width: 499px) {
		#fs-grid-menu .fs-grid-status-xs {
			background: #ccc;
			color: #333;
		}
	}

	@media screen and (max-width: 739px) {
		#fs-grid-menu .fs-grid-status-sm {
			background: #ccc;
			color: #333;
		}
	}

	@media screen and (min-width: 740px) and (max-width: 979px) {
		#fs-grid-menu .fs-grid-status-md {
			background: #ccc;
			color: #333;
		}
	}
	@media screen and (min-width: 980px) {
		#fs-grid-menu .fs-grid-status-lg {
			background: #ccc;
			color: #333;
		}
	}

	@media screen and (min-width: 1220px) {
		#fs-grid-menu .fs-grid-status-xl {
			background: #ccc;
			color: #333;
		}
	}

	#fs-grid-menu .fs-grid-icon,
	#fs-grid-menu .fs-grid-option {
		height: 35px;

		color: #999;
		display: block;
		float: left;
		font-size: 14px;
		line-height: 37px;
		padding: 0 10px;
	}

	#fs-grid-menu .fs-grid-option {
		background: transparent;
		border: none;
		border-right: 1px solid #000;
		cursor: pointer;
		text-transform: uppercase;
	}

	#fs-grid-menu .fs-grid-option:hover {
		color: #eee;
	}

	#fs-grid-menu .fs-grid-option.fs-grid-active {
		background: #000;
		color: #eee;
	}

	#fs-grid-menu .fs-grid-show {
		width: 100px;

		font-size: 11px;
		line-height: 35px;
		text-align: center;
	}

	#fs-grid-menu .fs-grid-icon {
		background: url(http://formstone.it/images/bookmarklet_icons.png) no-repeat;
		margin: 9px;
		padding: 0;
	}

	#fs-grid-menu .fs-grid-icon.fs-grid-remove {
		width: 13px;
		height: 13px;

		background-position: 0 0;
		border: none;
		cursor: pointer;
		margin: 10px;
		opacity: 0.5;
		overflow: hidden;
		text-indent: 200%;
	}

	#fs-grid-menu .fs-grid-icon.fs-grid-remove:hover {
		opacity: 1;
	}

	#fs-grid-menu.top-left {
		top: 0;
		left: 0;

		border-bottom-right-radius: 4px;
	}

	#fs-grid-menu.top-right {
		top: 0;
		right: 0;

		border-bottom-left-radius: 4px;
	}

	#fs-grid-menu.bottom-left {
		bottom: 0;
		left: 0;

		border-top-right-radius: 4px;
	}

	#fs-grid-menu.bottom-right {
		right: 0;
		bottom: 0;

		border-top-left-radius: 4px;
	}

	#fs-grid-overlay {
		width: 100%;
		height: 100%;

		position: fixed;
		top: 0;
		left: 0;
		z-index: 100000;

		display: none;
		opacity: 0.5;
		overflow: hidden;
	}

	#fs-grid-overlay .fs-row {
		height: 100%;

		background: rgba(198, 80, 50, 0.3);
		margin: 0 auto !important;
	}

	#fs-grid-overlay .fs-row [class*="fs-cell"] {
		height: 100%;

		background: rgba(198, 80, 50, 0.3);
		border: 1px solid rgba(198, 80, 50, 0.4);
		border-width: 0 1px;
		overflow: hidden;
	}

	#fs-grid-overlay .fs-row [class*="fs-cell"] span {
		width: 100%;

		display: block;
		padding-top: 10000px;
	}

	#fs-grid-overlay.fs-grid-visible {
		display: block;
	}