					</div>
				</div>
				<div class="cell large-2 sidebar">
					<nav class="main_nav sidebar_content js-navigation" data-navigation-handle="#js-nav_handle" data-navigation-content=".js-nav_move" data-navigation-options='{"type":"overlay","gravity":"right"}'>
						<a href="{{= it.site_root }}" class="logo sidebar_logo">Formstone</a>
						{{= it.include("navigation", { site_root: it.site_root, asset_root: it.asset_root, component_root: it.component_root }) }}
					</nav>
				</div>
			</div>
		</div>
		<footer class="row footer">
			<div class="cell large-10 right">
				<p>&copy; 2014 Formstone</p>
			</div>
		</footer>
		<!-- Gridlock -->
		<script>
			/*
			var GridlockBookmarkletConfig = {
				useCookies: true,
				position: "bottom-left"
			};
			(function(){if(typeof GridlockBookmarklet=='undefined'){document.body.appendChild(document.createElement('script')).src='http://formstone.it/js/gridlock.bookmarklet.js';}else{GridlockBookmarklet();}})();
			*/
		</script>

	</body>
</html>