			{{= it.include("sidebar", { site_root: it.site_root, asset_root: it.asset_root, component_root: it.component_root }) }}
		</div>
		<footer class="footer">
			<div class="fs-row">
				<div class="fs-cell-centered fs-lg-10 buysellads">
					<!-- BuySellAds Zone -->
					<div id="bsap_1296027" class="bsarocks bsap_c5d0dbd4698a2fc9419d663ba33e37cb"></div>
					<!-- End BuySellAds Zone -->
				</div>
			</div>
			<div class="fs-row">
				<div class="fs-cell-centered fs-lg-10">
					<p>&copy; 2015 &nbsp;&middot;&nbsp; A Project By <a href="http://benplum.com/" target="_blank" data-analytics-event="Footer, Click, benplum.com">Ben Plum</a></p>
				</div>
			</div>
		</footer>
	</body>
</html>