		<footer class="row footer">
			<div class="mobile-full tablet-full desktop-10 right padded">
				<p>&copy; 2014 Formstone</p>
			</div>
		</footer>

		<!-- Gridlock -->
        <script>
/*
			var GridlockBookmarkletConfig = {
				useCookies: true,
				position: "bottom-left"
			};
			(function(){if(typeof GridlockBookmarklet=='undefined'){document.body.appendChild(document.createElement('script')).src='http://formstone.it/js/gridlock.bookmarklet.js';}else{GridlockBookmarklet();}})();
*/
		</script>

	</body>
</html>