<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">

		<!-- Page Attributes -->
		<title>{{= it.local_title }} &middot; {{= it.title }}</title>

		<!-- Modernizer -->
		<script src="{{= it.asset_root }}js/modernizr.js?v={{= it.version }}"></script>

		<!-- Compiled CSS -->
		<!--[if gt IE 8]><!--><link rel="stylesheet" href="{{= it.asset_root }}css/site.css?v={{= it.version }}"><!--<![endif]-->

		<!--[if IE 8]>
			<script>var IE8 = true;</script>
			<script src="{{= it.asset_root }}js/site-ie8.js?v={{= it.version }}"></script>
			<link rel="stylesheet" href="{{= it.asset_root }}css/site-ie8.css?v={{= it.version }}">
		<![endif]-->
		<!--[if IE 9]>
			<script>var IE9 = true;</script>
			<script src="{{= it.asset_root }}js/site-ie9.js?v={{= it.version }}"></script>
			<link rel="stylesheet" href="{{= it.asset_root }}css/site-ie9.css?v={{= it.version }}">
		<![endif]-->

		<!-- Compiled JS -->
		<script src="{{= it.asset_root }}js/site.js?v={{= it.version }}"></script>
	</head>
	<body class="fs-grid demo_page">

		<div class="demo_content">

			<header class="header">
				<div class="fs-row">
					<div class="fs-cell-centered fs-xl-10">
						<a href="https://formstone.it/" class="header_logo icon-logo">Formstone</a>
					</div>
				</div>
			</header>

			<div class="fs-row">
				<div class="fs-cell-centered fs-xl-10">