/* ==========================================================================
  Set Up
============================================================================= */

  @white: #fff;
  @primary: #455a64;
  @accent: #00bcd4;
  @primary_medium: #546E7A;
  @primary_light: #B0BEC5;
  @primary_lighter: #eceff1;

  @min_md: ~"screen and (min-width: 740px)";