/* ==========================================================================
	Imports
============================================================================= */

	@import (inline) "../../bower/normalize-css/normalize.css";

	@import "plugins.less";

	fieldset {
		border: none;
		padding: 0;
		margin: 20px 0;
	}

	pre,
	input,
	textarea,
	.form_textarea {
		border: 1px solid #ddd;
		margin: 20px 0;
	}