/* ==================================================================
   Fonts
================================================================== */

	/* PT Mono */
	@font-face {
	    font-family: 'PTMono';
	    src: url('../fonts/PTM55FT-webfont.eot');
	    src: url('../fonts/PTM55FT-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/PTM55FT-webfont.woff') format('woff'),
	         url('../fonts/PTM55FT-webfont.ttf') format('truetype'),
	         url('../fonts/PTM55FT-webfont.svg#PTMonoRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	/* Lato */
	@font-face {
		font-family: 'Lato';
		src: url('../fonts/lato-reg-webfont.eot');
		src: url('../fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/lato-reg-webfont.woff') format('woff'),
			 url('../fonts/lato-reg-webfont.ttf') format('truetype'),
			 url('../fonts/lato-reg-webfont.svg#latoregular') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	/* Lato Italic */
	@font-face {
		font-family: 'Lato';
		src: url('../fonts/lato-regita-webfont.eot');
		src: url('../fonts/lato-regita-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/lato-regita-webfont.woff') format('woff'),
			 url('../fonts/lato-regita-webfont.ttf') format('truetype'),
			 url('../fonts/lato-regita-webfont.svg#latoitalic') format('svg');
		font-weight: normal;
		font-style: italic;
	}

	/* Lato Light */
	@font-face {
		font-family: 'Lato';
		src: url('../fonts/lato-lig-webfont.eot');
		src: url('../fonts/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/lato-lig-webfont.woff') format('woff'),
			 url('../fonts/lato-lig-webfont.ttf') format('truetype'),
			 url('../fonts/lato-lig-webfont.svg#latolight') format('svg');
		font-weight: 300;
		font-style: normal;
	}

	/* Lato Light Italic */
	@font-face {
		font-family: 'Lato';
		src: url('../fonts/lato-ligita-webfont.eot');
		src: url('../fonts/lato-ligita-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/lato-ligita-webfont.woff') format('woff'),
			 url('../fonts/lato-ligita-webfont.ttf') format('truetype'),
			 url('../fonts/lato-ligita-webfont.svg#latolight_italic') format('svg');
		font-weight: 300;
		font-style: italic;
	}


	/* Lato Bold */
	@font-face {
		font-family: 'Lato';
		src: url('../fonts/lato-bol-webfont.eot');
		src: url('../fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/lato-bol-webfont.woff') format('woff'),
			 url('../fonts/lato-bol-webfont.ttf') format('truetype'),
			 url('../fonts/lato-bol-webfont.svg#latobold') format('svg');
		font-weight: 700;
		font-style: normal;
	}

	/* Lato Bold Italic */
	@font-face {
		font-family: 'Lato';
		src: url('../fonts/lato-bolita-webfont.eot');
		src: url('../fonts/lato-bolita-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/lato-bolita-webfont.woff') format('woff'),
			 url('../fonts/lato-bolita-webfont.ttf') format('truetype'),
			 url('../fonts/lato-bolita-webfont.svg#latobold_italic') format('svg');
		font-weight: 700;
		font-style: italic;
	}