{{= it.include("_header", { local_title: it.document.title }) }}
<div class="row page_row">
	<div class="mobile-full tablet-full desktop-10 right padded">
		<div class="page main_nav_move">
			<div class="content">
				{{= it.document }}
				{{? it.document.demo }}
				<div class="demo">
					<h2 id="demo">Demo</h2>
					{{= it.document.demo }}
				</div>
				{{?}}
			</div>
			<footer class="row footer">
				<p>&copy; 2014 Formstone</p>
			</footer>
		</div>
	</div>
	<div class="mobile-full tablet-full desktop-2 sidebar">
		<nav class="main_nav sidebar_content" data-navigation-handle="#main_nav_handle" data-navigation-content=".main_nav_move" data-navigation-options='{"type":"slide_right"}'>
			{{= it.include("navigation") }}
		</nav>
	</div>
</div>
{{= it.include("_footer") }}