{{= it.include("_header", { local_title: it.document.title, site_root: it.document.site_root, asset_root: it.document.asset_root, component_root: it.document.component_root, version: it.version }) }}
<div class="page js-nav_move">
	<header class="hero">
		<div class="fs-row">
			<div class="fs-cell-centered fs-xs-full fs-sm-2 fs-md-4 fs-lg-6 fs-xl-5">
				<h1 class="hero_title">Formstone</h1>
				<p class="hero_content">Not a framework. Just a collection of thoughtfully crafted front-end components.</p>
				<div class="hero_buttons">
					<a href="components.html" class="button hero_button" data-analytics-event="HomeButton, Click, components">Components</a>
					<a href="https://github.com/Formstone/Formstone" class="button hero_button" data-analytics-event="HomeButton, Click, github">GitHub</a>
				</div>
				<span class="hero_version">v{{= it.version }}</span>
			</div>
		</div>
	</header>
	<div class="fs-row page_row">
		<div class="fs-cell-centered fs-lg-10 fs-xl-8">
			<div class="content">
				{{= it.document }}
			</div>
		</div>
	</div>
</div>
{{= it.include("_footer", { site_root: it.document.site_root, asset_root: it.document.asset_root, component_root: it.document.component_root, version: it.version }) }}