
	// Variables

	@fs-grid-class-container:     		fs-grid;
	@fs-grid-class-row:           		row;
	@fs-grid-class-cell:				cell;
	@fs-grid-class-contained:     		contained;
	@fs-grid-class-padded:        		padded;
	@fs-grid-class-centered:      		centered;

	@fs-grid-class-all:           		all;
	@fs-grid-class-min:           		min;
	@fs-grid-class-small:        		small;
	@fs-grid-class-medium:        		medium;
	@fs-grid-class-large:       		large;
	@fs-grid-class-max:           		max;

	@fs-grid-columns-small:      		3;
	@fs-grid-columns-medium:      		6;
	@fs-grid-columns-large:     		12;

	@fs-grid-width-min:           		300px;
	@fs-grid-width-small:        		480px;
	@fs-grid-width-medium:        		720px;
	@fs-grid-width-large:       		960px;
	@fs-grid-width-max:           		1200px;

	@fs-grid-width-break-min:     		320px;
	@fs-grid-width-break-small:  		500px;
	@fs-grid-width-break-medium:  		740px;
	@fs-grid-width-break-large: 		980px;
	@fs-grid-width-break-max:     		1220px;

	@fs-grid-gutter:              		1.0416666666666667%;