<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Page Attributes -->
    <title>Analytics &middot; Formstone</title>
    <!-- Modernizer -->
    <script src="../js/modernizr.js?v=1.4.9"></script>
    <!-- Compiled CSS -->
    <link rel="stylesheet" href="../css/site.css?v=1.4.9">
    <!-- Compiled JS -->
    <script src="../js/site.js?v=1.4.9"></script>
    <!-- <script src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script> -->
</head>

<body class="fs-grid demo_page">
    <!-- JSHEADER -->
    <div class="demo_content">
        <header class="header">
            <div class="fs-row">
                <div class="fs-cell"> <a href="https://formstone.it/" class="header_logo icon-logo">Formstone</a> </div>
            </div>
        </header>
        <div class="fs-row">
            <div class="fs-cell">
                <h1 id="analytics-demo">Analytics Demo</h1>
                <p class="back_link"><a href="https://formstone.it/components/analytics">View Documentation</a></p>
                <!-- START: DEMO -->[No Demo]

                <!--
<style>
  body { position: relative; }

  .mark { border-bottom: 5px solid red; color: black; position: absolute; right: 0; text-align: right; width: 100px; }
  .mark:before { background: red; bottom: 0; content: ''; display: block; height: 50px; opacity: 0.5; position: absolute; width: 100%; }
  .mark_20  { bottom: 20%; }
  .mark_40  { bottom: 40%; }
  .mark_60  { bottom: 60%; }
  .mark_80  { bottom: 80%; }
  .mark_100 { bottom: 100%; }

  .padded { height: 2000px; }
</style>

<div class="mark mark_20"></div>
<div class="mark mark_40"></div>
<div class="mark mark_60"></div>
<div class="mark mark_80"></div>
<div class="mark mark_100"></div>

<div class="padded"></div>
-->
                <!-- END: DEMO -->
                <div class="footer">
                    <div class="copyright">
                        <div>&copy; 2018 <a href="https://formstone.it/">Formstone</a></div>
                    </div>
                    <div class="footer_links">
                        <!-- JSFOOTER -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>