<!DOCTYPE html>
<html lang="en" class="no-js">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<!-- Page Attributes -->
		<title>ASAP &middot; Formstone</title>
		<!-- Modernizer -->
		<script src="../js/modernizr.js?v=0.9.0"></script>
		<!-- Compiled CSS -->
		<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="../css/site.css?v=0.9.0">
		<!--<![endif]-->
		<!--[if IE 8]><script>var IE8 = true;</script><script src="../js/site-ie8.js?v=0.9.0"></script><link rel="stylesheet" href="../css/site-ie8.css?v=0.9.0"><![endif]-->
		<!--[if IE 9]><script>var IE9 = true;</script><script src="../js/site-ie9.js?v=0.9.0"></script><link rel="stylesheet" href="../css/site-ie9.css?v=0.9.0"><![endif]-->
		<!-- Compiled JS -->
		<script src="../js/site.js?v=0.9.0"></script>
	</head>

	<body class="fs-grid demo_page">
		<div class="demo_content">
			<header class="header">
				<div class="fs-row">
					<div class="fs-cell fs-xl-10">
						<a href="http://beta.formstone.it/" class="header_logo icon-logo">Formstone</a>
					</div>
				</div>
			</header>
			<div class="fs-row">
				<div class="fs-cell">
					<h1 id="asap-demo">ASAP Demo</h1>
					<p class="back_link">
						<a href="http://beta.formstone.it/components/asap">View Documentation</a>
					</p>
					<!-- START: DEMO -->
					<html>

					<head>
						<meta http-equiv="refresh" content="0; url=http://beta.formstone.it/demo/_extra/asap/index.php">
					</head>

					<body>
					</body>

					</html>
					<!-- END: DEMO -->
					<div class="copyright">&copy; 2016</div>
				</div>
			</div>
		</div>
	</body>

</html>