<!DOCTYPE html>
<html lang="en" class="no-js">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<!-- Page Attributes -->
		<title>Background &middot; Formstone</title>
		<!-- Modernizer -->
		<script src="../js/modernizr.js?v=1.0.1"></script>
		<!-- Compiled CSS -->
		<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="../css/site.css?v=1.0.1">
		<!--<![endif]-->
		<!--[if IE 8]><script>var IE8 = true;</script><script src="../js/site-ie8.js?v=1.0.1"></script><link rel="stylesheet" href="../css/site-ie8.css?v=1.0.1"><![endif]-->
		<!--[if IE 9]><script>var IE9 = true;</script><script src="../js/site-ie9.js?v=1.0.1"></script><link rel="stylesheet" href="../css/site-ie9.css?v=1.0.1"><![endif]-->
		<!-- Compiled JS -->
		<script src="../js/site.js?v=1.0.1"></script>
	</head>

	<body class="fs-grid demo_page">
		<div class="demo_content">
			<header class="header">
				<div class="fs-row">
					<div class="fs-cell-centered fs-xl-10">
						<a href="https://formstone.it/" class="header_logo icon-logo">Formstone</a>
					</div>
				</div>
			</header>
			<div class="fs-row">
				<div class="fs-cell-centered fs-xl-10">
					<h1 id="background-demo">Background Demo</h1>
					<p class="back_link">
						<a href="https://formstone.it/components/background">View Documentation</a>
					</p>
					<!-- START: DEMO -->
					<style>
					.background {
						width: 100%;
						background: #CFD8DC;
						margin: 0 0 20px;
						padding-top: 50%;
					}
					</style>

					<h4>Basic</h4>
					<div class="background js-background" data-background-options='{"source":"//spacehold.it/1600x900/1.jpg"}'></div>

					<h4>Responsive</h4>
					<div class="background js-background" data-background-options='{"source":{"0px":"//spacehold.it/800x450/2.jpg","980px":"//spacehold.it/1600x900/2.jpg"}}'></div>

					<h4>Video</h4>
					<div class="background js-background" data-background-options='{"source":{"webm":"//spacehold.it/video/video.webm","mp4":"//spacehold.it/video/video.mp4","ogg":"//spacehold.it/video/video.ogv","poster":"//spacehold.it/video/poster.jpg"}}'></div>

					<h4>YouTube</h4>
					<div class="background js-background" data-background-options='{"source":{"autoPlay":true,"video":"//youtu.be/LlQ8dhdSjWs"},"youtubeOptions":{"start":60}}'></div>

					<!--
<div class="background js-background" data-background-options='{"source":{"autoPlay":false,"video":"//youtu.be/LlQ8dhdSjWs"},"youtubeOptions":{"start":60}}'></div>
<script>
	$(document).ready(function() {
		$(".js-background").background("play");
	});
</script>
-->
					<!-- END: DEMO -->
					<div class="copyright">&copy; 2016</div>
				</div>
			</div>
		</div>
	</body>

</html>