<!DOCTYPE html>
<html lang="en" class="no-js">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Page Attributes -->
    <title>Checkpoint &middot; Formstone</title>
    <!-- Modernizer -->
    <script src="../js/modernizr.js?v=1.3.3"></script>
    <!-- Compiled CSS -->
    <link rel="stylesheet" href="../css/site.css?v=1.3.3">
    <!-- Compiled JS -->
    <script src="../js/site.js?v=1.3.3"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script>
  </head>

  <body class="fs-grid demo_page">
    <!-- JSHEADER -->
    <div class="demo_content">
      <header class="header">
        <div class="fs-row">
          <div class="fs-cell">
            <a href="https://formstone.it/" class="header_logo icon-logo">Formstone</a>
          </div>
        </div>
      </header>
      <div class="fs-row">
        <div class="fs-cell">
          <h1 id="checkpoint-demo">Checkpoint Demo</h1>
          <p class="back_link">
            <a href="https://formstone.it/components/checkpoint">View Documentation</a>
          </p>
          <!-- START: DEMO -->
          <h4>Basic</h4>

          <!-- START: FIRSTDEMO -->

          <style>
          .check_container {
            background: #f9f9f9;
            overflow: hidden;
          }
          
          .spacer {
            margin: 300px 0;
            border: 1px solid #eee;
            border-radius: 3px;
            height: 202px;
            margin: 300px auto;
            width: 302px;
          }
          
          .checkpoint {
            background: #00bcd4;
            border-radius: 3px;
            color: #fff;
            height: 200px;
            line-height: 200px;
            margin: 0 auto;
            text-align: center;
            width: 300px;
          }
          
          .marker {
            position: fixed;
            /*top: 50%;*/
            right: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: red;
            opacity: 0.2;
          }
          </style>

          <div class="marker" style="top: 100px;"></div>
          <div class="marker" style="top: 50%;"></div>
          <div class="marker" style="bottom: 100px;"></div>

          <script>
          $(document).ready(function() {
            // $(".checkpoint").on("activate.checkpoint", function() {
            //   console.log("activate", this);
            // }).on("deactivate.checkpoint", function() {
            //   console.log("deactivate", this);
            // });

            $(".demo-checkpoint").checkpoint({
              // offset: -50,
              intersect: 'middle-top',
              reverse: true
            });
          });
          </script>

          <!-- <div class="demo_container">
  <div class="demo_example"> -->
          <div class="spacer">
            <div class="checkpoint demo-checkpoint" data-checkpoint-options='{"offset":-100,"intersect":"top-top"}' data-checkpoint-animation="fade-up">Target</div>
          </div>
          <div class="spacer">
            <div class="checkpoint demo-checkpoint" data-checkpoint-options='{"offset":0,"intersect":"middle-middle"}' data-checkpoint-animation="fade-up">Target</div>
          </div>
          <div class="spacer">
            <div class="checkpoint demo-checkpoint" data-checkpoint-options='{"offset":100,"intersect":"bottom-bottom"}' data-checkpoint-animation="fade-up">Target</div>
          </div>
          <div class="check_container">
            <div class="spacer">
              <div class="checkpoint demo-checkpoint" data-checkpoint-options='{"offset":100,"intersect":"bottom-bottom"}' data-checkpoint-animation="fade-up" data-checkpoint-container=".check_container">Target</div>
            </div>
          </div>

          <!-- FADE -->

          <div class="spacer">
            <div class="checkpoint demo-checkpoint" data-checkpoint-animation="fade-up">Fade Up</div>
          </div>
          <div class="spacer">
            <div class="checkpoint demo-checkpoint" data-checkpoint-animation="fade-down">Fade Down</div>
          </div>
          <div class="spacer">
            <div class="checkpoint demo-checkpoint" data-checkpoint-animation="fade-left">Fade Left</div>
          </div>
          <div class="spacer">
            <div class="checkpoint demo-checkpoint" data-checkpoint-animation="fade-right">Fade Right</div>
          </div>

          <!-- ZOOM IN -->

          <div class="spacer">
            <div class="checkpoint demo-checkpoint" data-checkpoint-animation="zoom-in">Zoom In</div>
          </div>
          <div class="spacer">
            <div class="checkpoint demo-checkpoint" data-checkpoint-animation="zoom-in-up">Zoom In Up</div>
          </div>
          <div class="spacer">
            <div class="checkpoint demo-checkpoint" data-checkpoint-animation="zoom-in-down">Zoom In Down</div>
          </div>
          <div class="spacer">
            <div class="checkpoint demo-checkpoint" data-checkpoint-animation="zoom-in-left">Zoom In Left</div>
          </div>
          <div class="spacer">
            <div class="checkpoint demo-checkpoint" data-checkpoint-animation="zoom-in-right">Zoom In Right</div>
          </div>

          <!-- ZOOM OUT -->

          <div class="spacer">
            <div class="checkpoint demo-checkpoint" data-checkpoint-animation="zoom-out">Zoom Out</div>
          </div>
          <div class="spacer">
            <div class="checkpoint demo-checkpoint" data-checkpoint-animation="zoom-out-up">Zoom Out Up</div>
          </div>
          <div class="spacer">
            <div class="checkpoint demo-checkpoint" data-checkpoint-animation="zoom-out-down">Zoom Out Down</div>
          </div>
          <div class="spacer">
            <div class="checkpoint demo-checkpoint" data-checkpoint-animation="zoom-out-left">Zoom Out Left</div>
          </div>
          <div class="spacer">
            <div class="checkpoint demo-checkpoint" data-checkpoint-animation="zoom-out-right">Zoom Out Right</div>
          </div>

          <!-- FLIP -->

          <div class="spacer">
            <div class="checkpoint demo-checkpoint" data-checkpoint-animation="flip-up">Flip Up</div>
          </div>
          <div class="spacer">
            <div class="checkpoint demo-checkpoint" data-checkpoint-animation="flip-down">Flip Down</div>
          </div>
          <div class="spacer">
            <div class="checkpoint demo-checkpoint" data-checkpoint-animation="flip-left">Flip Left</div>
          </div>
          <div class="spacer">
            <div class="checkpoint demo-checkpoint" data-checkpoint-animation="flip-right">Flip Right</div>
          </div>

          <!-- </div>
  <div class="demo_code"> -->
          <pre><code class="language-html">&lt;div class=&quot;checkpoint&quot;&gt;Target&lt;/div&gt;</code></pre>
          <pre><code class="language-javascript">$(".checkpoint").checkpoint({
  offset: 50
});</code></pre>
          <!-- </div>
</div> -->

          <!-- END: FIRSTDEMO -->
          <!-- END: DEMO -->
          <div class="footer">
            <div class="copyright">
              <div>&copy; 2017
                <a href="https://formstone.it/">Formstone</a>
              </div>
            </div>
            <div class="footer_links">
              <!-- JSFOOTER -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>