<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Page Attributes -->
    <title>Pagination &middot; Formstone</title>
    <!-- Modernizer -->
    <script src="../js/modernizr.js?v=1.4.9"></script>
    <!-- Compiled CSS -->
    <link rel="stylesheet" href="../css/site.css?v=1.4.9">
    <!-- Compiled JS -->
    <script src="../js/site.js?v=1.4.9"></script>
    <!-- <script src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script> -->
</head>

<body class="fs-grid demo_page">
    <!-- JSHEADER -->
    <div class="demo_content">
        <header class="header">
            <div class="fs-row">
                <div class="fs-cell"> <a href="https://formstone.it/" class="header_logo icon-logo">Formstone</a> </div>
            </div>
        </header>
        <div class="fs-row">
            <div class="fs-cell">
                <h1 id="pagination-demo">Pagination Demo</h1>
                <p class="back_link"><a href="https://formstone.it/components/pagination">View Documentation</a></p>
                <!-- START: DEMO -->
                <h4>Basic</h4>

                <!-- START: FIRSTDEMO -->

                <script>
                    var $demoOutput;

                    Formstone.Ready(function() {
                        $demoOutput = $(".demo_output");

                        $(".demo_pagination").on("update.pagination", function(e, page) {
                            $demoOutput.prepend('<strong>Index: </strong>' + page + '</span><br>');
                        });
                    });
                </script>

                <div class="demo_container">
                    <div class="demo_example">
                        <nav class="js-pagination demo_pagination">
                            <a href="#1">1</a>
                            <a href="#2">2</a>
                            <a href="#3">3</a>
                            <a href="#4">4</a>
                            <a href="#5">5</a>
                            <a href="#6">6</a>
                            <a href="#7">7</a>
                            <a href="#8">8</a>
                            <a href="#9">9</a>
                            <a href="#10">10</a>
                        </nav>
                        <div class="demo_output form_textarea"></div>
                    </div>
                    <div class="demo_code">
                        <pre><code class="language-html">&lt;nav class=&quot;pagination&quot;&gt;
&Tab;&lt;a href=&quot;1.html&quot;&gt;1&lt;/a&gt;
&Tab;&lt;a href=&quot;2.html&quot;&gt;2&lt;/a&gt;
&Tab;&lt;a href=&quot;3.html&quot;&gt;3&lt;/a&gt;
&Tab;&lt;a href=&quot;4.html&quot;&gt;4&lt;/a&gt;
&Tab;&lt;a href=&quot;5.html&quot;&gt;5&lt;/a&gt;
&lt;/nav&gt;</code></pre>
                        <pre><code class="language-javascript">$(".pagination").pagination();</code></pre>
                    </div>
                </div>

                <!-- END: FIRSTDEMO -->

                <h4>Active Page</h4>
                <div class="demo_container">
                    <div class="demo_example">
                        <nav class="js-pagination">
                            <a href="#1">1</a>
                            <a href="#2">2</a>
                            <a href="#3">3</a>
                            <a href="#4">4</a>
                            <a href="#5" data-pagination-active="true">5</a>
                            <a href="#6">6</a>
                            <a href="#7">7</a>
                            <a href="#8">8</a>
                            <a href="#9">9</a>
                            <a href="#10">10</a>
                        </nav>
                    </div>
                    <div class="demo_code">
                        <pre><code class="language-html">&lt;nav class=&quot;pagination&quot;&gt;
&Tab;&lt;a href=&quot;1.html&quot;&gt;1&lt;/a&gt;
&Tab;&lt;a href=&quot;2.html&quot;&gt;2&lt;/a&gt;
&Tab;&lt;a href=&quot;3.html&quot; data-pagination-active=&quot;true&quot;&gt;3&lt;/a&gt;
&Tab;&lt;a href=&quot;4.html&quot;&gt;4&lt;/a&gt;
&Tab;&lt;a href=&quot;5.html&quot;&gt;5&lt;/a&gt;
&lt;/nav&gt;</code></pre>
                        <pre><code class="language-javascript">$(".pagination").pagination();</code></pre>
                    </div>
                </div>

                <h4>No Theme</h4>
                <div class="demo_container">
                    <div class="demo_example">
                        <nav class="js-pagination" data-pagination-options='{"theme":""}'>
                            <a href="#1">1</a>
                            <a href="#2">2</a>
                            <a href="#3">3</a>
                            <a href="#4">4</a>
                            <a href="#5">5</a>
                            <a href="#6">6</a>
                            <a href="#7">7</a>
                            <a href="#8">8</a>
                            <a href="#9">9</a>
                            <a href="#10">10</a>
                        </nav>
                    </div>
                    <div class="demo_code">
                        <pre><code class="language-html">&lt;nav class=&quot;pagination&quot;&gt;
&Tab;&lt;a href=&quot;1.html&quot;&gt;1&lt;/a&gt;
&Tab;&lt;a href=&quot;2.html&quot;&gt;2&lt;/a&gt;
&Tab;&lt;a href=&quot;3.html&quot;&gt;3&lt;/a&gt;
&Tab;&lt;a href=&quot;4.html&quot;&gt;4&lt;/a&gt;
&Tab;&lt;a href=&quot;5.html&quot;&gt;5&lt;/a&gt;
&lt;/nav&gt;</code></pre>
                        <pre><code class="language-javascript">$(".pagination").pagination({
  theme: ""
});</code></pre>
                    </div>
                </div>
                <!-- END: DEMO -->
                <div class="footer">
                    <div class="copyright">
                        <div>&copy; 2018 <a href="https://formstone.it/">Formstone</a></div>
                    </div>
                    <div class="footer_links">
                        <!-- JSFOOTER -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>