<!DOCTYPE html>
<html lang="en" class="no-js">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<!-- Page Attributes -->
		<title>Tabs &middot; Formstone</title>
		<!-- Modernizer -->
		<script src="../js/modernizr.js?v=1.0.1"></script>
		<!-- Compiled CSS -->
		<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="../css/site.css?v=1.0.1">
		<!--<![endif]-->
		<!--[if IE 8]><script>var IE8 = true;</script><script src="../js/site-ie8.js?v=1.0.1"></script><link rel="stylesheet" href="../css/site-ie8.css?v=1.0.1"><![endif]-->
		<!--[if IE 9]><script>var IE9 = true;</script><script src="../js/site-ie9.js?v=1.0.1"></script><link rel="stylesheet" href="../css/site-ie9.css?v=1.0.1"><![endif]-->
		<!-- Compiled JS -->
		<script src="../js/site.js?v=1.0.1"></script>
	</head>

	<body class="fs-grid demo_page">
		<div class="demo_content">
			<header class="header">
				<div class="fs-row">
					<div class="fs-cell-centered fs-xl-10">
						<a href="https://formstone.it/" class="header_logo icon-logo">Formstone</a>
					</div>
				</div>
			</header>
			<div class="fs-row">
				<div class="fs-cell-centered fs-xl-10">
					<h1 id="tabs-demo">Tabs Demo</h1>
					<p class="back_link">
						<a href="https://formstone.it/components/tabs">View Documentation</a>
					</p>
					<!-- START: DEMO -->
					<style>
					.tabs {
						overflow: hidden;
					}
					</style>

					<h4>Basic</h4>
					<nav class="tabs">
						<a href="#tab-1-1" class="tab js-tabs" data-tabs-group="tab-1">One</a>
						<a href="#tab-1-2" class="tab js-tabs" data-tabs-group="tab-1" data-tabs-active="true">Two</a>
						<a href="#tab-1-3" class="tab js-tabs" data-tabs-group="tab-1">Three</a>
					</nav>
					<div class="tab_content" id="tab-1-1">
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
					</div>
					<div class="tab_content" id="tab-1-2">
						<p>Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
					</div>
					<div class="tab_content" id="tab-1-3">
						<p>Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
					</div>

					<h4>Mobile Max Width</h4>
					<nav class="tabs">
						<a href="#tab-2-1" class="tab js-tabs" data-tabs-group="tab-2" data-tabs-options='{"mobileMaxWidth":"500px"}'>One</a>
						<a href="#tab-2-2" class="tab js-tabs" data-tabs-group="tab-2" data-tabs-options='{"mobileMaxWidth":"500px"}'>Two</a>
						<a href="#tab-2-3" class="tab js-tabs" data-tabs-group="tab-2" data-tabs-options='{"mobileMaxWidth":"500px"}'>Three</a>
					</nav>
					<div class="tab_content" id="tab-2-1">
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
					</div>
					<div class="tab_content" id="tab-2-2">
						<p>Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
					</div>
					<div class="tab_content" id="tab-2-3">
						<p>Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
					</div>

					<h4>No Theme</h4>
					<nav class="tabs">
						<a href="#tab-3-1" class="tab js-tabs" data-tabs-group="tab-3" data-tabs-options='{"theme":""}'>One</a>
						<a href="#tab-3-2" class="tab js-tabs" data-tabs-group="tab-3" data-tabs-options='{"theme":""}'>Two</a>
						<a href="#tab-3-3" class="tab js-tabs" data-tabs-group="tab-3" data-tabs-options='{"theme":""}'>Three</a>
					</nav>
					<div class="tab_content" id="tab-3-1">
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
					</div>
					<div class="tab_content" id="tab-3-2">
						<p>Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
					</div>
					<div class="tab_content" id="tab-3-3">
						<p>Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
					</div>
					<!-- END: DEMO -->
					<div class="copyright">&copy; 2016</div>
				</div>
			</div>
		</div>
	</body>

</html>