<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Page Attributes -->
    <title>Viewer &middot; Formstone</title>
    <!-- Modernizer -->
    <script src="../js/modernizr.js?v=1.4.9"></script>
    <!-- Compiled CSS -->
    <link rel="stylesheet" href="../css/site.css?v=1.4.9">
    <!-- Compiled JS -->
    <script src="../js/site.js?v=1.4.9"></script>
    <!-- <script src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script> -->
</head>

<body class="fs-grid demo_page">
    <!-- JSHEADER -->
    <div class="demo_content">
        <header class="header">
            <div class="fs-row">
                <div class="fs-cell"> <a href="https://formstone.it/" class="header_logo icon-logo">Formstone</a> </div>
            </div>
        </header>
        <div class="fs-row">
            <div class="fs-cell">
                <h1 id="viewer-demo">Viewer Demo</h1>
                <p class="back_link"><a href="https://formstone.it/components/viewer">View Documentation</a></p>
                <!-- START: DEMO -->
                <h3>Basic</h3>

                <!-- START: FIRSTDEMO -->

                <style>
                    .viewer {
                        width: 100%;
                        /*height: 300px;*/
                        margin: 0 0 20px;
                    }

                    @media screen and (min-width: 740px) {
                        .viewer {
                            /*height: 500px;*/
                        }
                    }
                </style>

                <div class="demo_container">
                    <div class="demo_example">
                        <div class="viewer js-viewer" data-viewer-options='{}'>
                            <img src="https://spacehold.it/900x1600/1.jpg" alt="">
                        </div>
                    </div>
                    <div class="demo_code">
                        <pre><code class="language-html">&lt;div class="viewer"&gt;
&Tab;&lt;img src=&quot;thumbnail.jpg&quot; alt=&quot;&quot;&gt;
&lt;/div&gt;</code></pre>
                        <pre><code class="language-javascript">$(".viewer").viewer();</code></pre>
                    </div>
                </div>

                <!-- END: FIRSTDEMO -->

                <h3>Gallery</h3>

                <div class="demo_container">
                    <div class="demo_example">
                        <div class="viewer js-viewer" data-viewer-options='{}'>
                            <img src="https://spacehold.it/1600x900/1.jpg" alt="">
                            <img src="https://spacehold.it/900x1600/2.jpg" alt="">
                            <img src="https://spacehold.it/1000x1000/3.jpg" alt="">
                        </div>
                    </div>
                    <div class="demo_code">
                        <pre><code class="language-html">&lt;div class="viewer"&gt;
&Tab;&lt;img src=&quot;thumbnail_1.jpg&quot; alt=&quot;&quot;&gt;
&Tab;&lt;img src=&quot;thumbnail_2.jpg&quot; alt=&quot;&quot;&gt;
&Tab;&lt;img src=&quot;thumbnail_3.jpg&quot; alt=&quot;&quot;&gt;
&lt;/div&gt;</code></pre>
                        <pre><code class="language-javascript">$(".viewer").viewer();</code></pre>
                    </div>
                </div>

                <h3>No Theme</h3>

                <div class="demo_container">
                    <div class="demo_example">
                        <div class="viewer js-viewer" data-viewer-options='{"theme":""}'>
                            <img src="https://spacehold.it/1600x900/1.jpg" alt="">
                            <img src="https://spacehold.it/900x1600/2.jpg" alt="">
                            <img src="https://spacehold.it/1000x1000/3.jpg" alt="">
                        </div>
                    </div>
                    <div class="demo_code">
                        <pre><code class="language-html">&lt;div class="viewer"&gt;
&Tab;&lt;img src=&quot;thumbnail_1.jpg&quot; alt=&quot;&quot;&gt;
&Tab;&lt;img src=&quot;thumbnail_2.jpg&quot; alt=&quot;&quot;&gt;
&Tab;&lt;img src=&quot;thumbnail_3.jpg&quot; alt=&quot;&quot;&gt;
&lt;/div&gt;</code></pre>
                        <pre><code class="language-javascript">$(".viewer").viewer({
  theme: "",
});</code></pre>
                    </div>
                </div>
                <!-- END: DEMO -->
                <div class="footer">
                    <div class="copyright">
                        <div>&copy; 2018 <a href="https://formstone.it/">Formstone</a></div>
                    </div>
                    <div class="footer_links">
                        <!-- JSFOOTER -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>