/*! formstone v2.1.9 [tabs.css] 2026-02-12 | GPL-3.0 License | formstone.it */
.fs-tabs {}

.fs-tabs-tab.fs-tabs-enabled,
.fs-tabs-tab_mobile.fs-tabs-enabled {
  box-sizing: border-box;
  cursor: pointer;
}

.fs-tabs-content.fs-tabs-enabled {
  box-sizing: border-box;
  display: none;
}

.fs-tabs-content.fs-tabs-active {
  display: block;
}

.fs-tabs-tab_mobile.fs-tabs-mobile {
  appearance: none;
}

.fs-tabs-tab.fs-tabs-mobile,
.fs-tabs-tab_mobile,
.fs-tabs-tab_mobile.fs-tabs-active {
  display: none;
}

.fs-tabs-tab_mobile.fs-tabs-mobile,
.fs-tabs-tab_mobile.fs-tabs-mobile.fs-tabs-active {
  display: block;
}