<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=600, initial-scale=1, maximum-scale=1, user-scalable=no">

		<title>{{= it.local_title }} &middot; {{= it.title }}</title>

		<!-- Modernizer -->
		<script src="http://formstone.it/js/modernizr.js"></script>

		<!-- Demo Resources -->
		<link href="http://formstone.it/css/demo.css" rel="stylesheet" type="text/css" media="all">
		<script src="http://formstone.it/js/demo.js"></script>

		<!--[if IE 8]>
        	<script>var IE8 = true;</script>
        	<script src="http://formstone.it/js/site.ie8.js"></script>
			<link rel="stylesheet" href="http://formstone.it/css/demo.ie8.css">
		<![endif]-->
		<!--[if IE 9]>
        	<script>var IE9 = true;</script>
        	<script src="http://formstone.it/js/site.ie9.js"></script>
		<![endif]-->

	</head>
	<body class="fs-grid">