Options -Indexes

RewriteEngine On

RewriteCond %{HTTP_HOST} ^formstone\.it [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://formstone.it/$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?request_url=$1 [QSA,L]