/*! formstone v2.1.7 [tabs.scss] 2025-11-10 | GPL-3.0 License | formstone.it */
.fs-tabs {

  &-tab &-enabled,
  &-tab_mobile &-enabled {
    box-sizing: border-box;
    cursor: pointer;
  }

  &-content &-enabled {
    box-sizing: border-box;
    display: none;
  }

  &-content &-active {
    display: block;
  }

  //

  &-tab_mobile &-mobile {
    appearance: none;
  }

  &-tab &-mobile,
  &-tab_mobile,
  &-tab_mobile &-active {
    display: none;
  }

  &-tab_mobile &-mobile,
  &-tab_mobile &-mobile &-active {
    display: block;
  }
}