<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=600, initial-scale=1, maximum-scale=1, user-scalable=no"><title>Lightbox &middot; Formstone</title><!-- Modernizer --><script src="http://formstone.it/js/modernizr.js"></script><!-- Demo Resources --><link href="http://formstone.it/css/demo.css" rel="stylesheet" type="text/css" media="all"><script src="http://formstone.it/js/demo.js"></script><!--[if IE 8]> <script>var IE8 = true;</script> <script src="http://formstone.it/js/site.ie8.js"></script><link rel="stylesheet" href="http://formstone.it/css/demo.ie8.css"><![endif]--><!--[if IE 9]> <script>var IE9 = true;</script> <script src="http://formstone.it/js/site.ie9.js"></script><![endif]--></head><body class="fs-grid"><div class="mobile-full tablet-full desktop-3 sidebar"><h5 id="core">Core</h5>
<ul>
<li><a href="core.html">Formstone</a></li>
</ul>
<h5 id="grid">Grid</h5>
<ul>
<li><a href="grid.html">Grid</a></li>
</ul>
<h5 id="utility">Utility</h5>
<ul>
<li><a href="cookie.html">Cookie</a></li>
<li><a href="mediaquery.html">Media Query</a></li>
</ul>
<h5 id="widget">Widget</h5>
<ul>
<li><a href="lightbox.html">Lightbox</a></li>
<li><a href="navigation.html">Navigation</a></li>
<li><a href="tooltip.html">Tooltip</a></li>
<li><a href="touch.html">Touch</a></li>
<li><a href="transition.html">Transition</a></li>
<li><a href="upload.html">Upload</a></li>
</ul>
</div><div class="mobile-full tablet-full desktop-9 content"><h1 id="lightbox">Lightbox</h1>
<p>A jQuery plugin for simple modals.</p>
<ul>
<li><a href="#options">Options</a></li>
<li><a href="#events">Events</a></li>
<li><a href="#methods">Methods</a></li>
<li><a href="#css">CSS</a></li>
</ul>
<h2 id="options">Options</h2>
<p>Set instance options by passing a valid object at initialization, or to the public <code>defaults</code> method. Custom options for a specific instance can also be set by attaching a <code>data-lightbox-options</code> attribute to the target elment. This attribute should contain the properly formatted JSON object representing the custom options.</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Default</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>customClass</td>
<td>string</td>
<td>&#39;&#39;</td>
<td>Class applied to instance</td>
</tr>
<tr>
<td>extensions</td>
<td>array</td>
<td>&quot;jpg&quot;, &quot;sjpg&quot;, &quot;jpeg&quot;, &quot;png&quot;, &quot;gif&quot;</td>
<td>Image type extensions</td>
</tr>
<tr>
<td>fixed</td>
<td>boolean</td>
<td>false</td>
<td>Flag for fixed positioning</td>
</tr>
<tr>
<td>formatter</td>
<td>function</td>
<td>$.noop</td>
<td>Caption format function</td>
</tr>
<tr>
<td>labels.close</td>
<td>string</td>
<td>&#39;Close&#39;</td>
<td>Close button text</td>
</tr>
<tr>
<td>labels.count</td>
<td>string</td>
<td>&#39;of&#39;</td>
<td>Gallery count separator text</td>
</tr>
<tr>
<td>labels.next</td>
<td>string</td>
<td>&#39;Next&#39;</td>
<td>Gallery control text</td>
</tr>
<tr>
<td>labels.previous</td>
<td>string</td>
<td>&#39;Previous&#39;</td>
<td>Gallery control text</td>
</tr>
<tr>
<td>margin</td>
<td>int</td>
<td>50</td>
<td>Margin used when sizing (single side)</td>
</tr>
<tr>
<td>minHeight</td>
<td>int</td>
<td>100</td>
<td>Minimum height of modal</td>
</tr>
<tr>
<td>minWidth</td>
<td>int</td>
<td>100</td>
<td>Minimum width of modal</td>
</tr>
<tr>
<td>mobile</td>
<td>boolean</td>
<td>false</td>
<td>Flag to force &#39;mobile&#39; rendering</td>
</tr>
<tr>
<td>retina</td>
<td>boolean</td>
<td>false</td>
<td>Flag to use &#39;retina&#39; sizing (halves natural sizes)</td>
</tr>
<tr>
<td>requestKey</td>
<td>string</td>
<td>&#39;boxer&#39;</td>
<td>GET variable for ajax / iframe requests</td>
</tr>
<tr>
<td>top</td>
<td>int</td>
<td>0</td>
<td>Target top position; over-rides centering</td>
</tr>
<tr>
<td>videoRadio</td>
<td>number</td>
<td>0.5625</td>
<td>Video height / width ratio (9 / 16 = 0.5625)</td>
</tr>
<tr>
<td>videoWidth</td>
<td>int</td>
<td>600</td>
<td>Video target width</td>
</tr>
</tbody>
</table>
<h2 id="events">Events</h2>
<p>Events are triggered on the target instance&#39;s element, unless otherwise stated.</p>
<table>
<thead>
<tr>
<th>Event</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>open</td>
<td>Lightbox opened; Triggered on window</td>
</tr>
<tr>
<td>close</td>
<td>Lightbox closed; Triggered on window</td>
</tr>
</tbody>
</table>
<h2 id="methods">Methods</h2>
<p>Methods are publicly available to all active instances, unless otherwise stated.</p>
<h3 id="close">close</h3>
<p>Closes active instance of plugin</p>
<pre><code>$.lightbox(&quot;close&quot;);</code></pre>
<h3 id="defaults">defaults</h3>
<p>Extends plugin default settings; effects instances created hereafter.</p>
<pre><code>$.lightbox(&quot;defaults&quot;, { ... });</code></pre>
<h5 id="parameters">Parameters</h5>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Default</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>options</td>
<td>object</td>
<td>{}</td>
<td>New plugin defaults</td>
</tr>
</tbody>
</table>
<h3 id="destroy">destroy</h3>
<p>Removes plugin instance.</p>
<pre><code>$(&quot;.target&quot;).lightbox(&quot;destroy&quot;);</code></pre>
<h3 id="resize">resize</h3>
<p>Triggers resize of instance</p>
<pre><code>$.lightbox(&quot;resize&quot;);</code></pre>
<h5 id="parameters">Parameters</h5>
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Default</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>height</td>
<td>int</td>
<td>false</td>
<td></td>
<td>Target height or false to auto size</td>
</tr>
<tr>
<td>width</td>
<td>int</td>
<td>false</td>
<td></td>
<td>Target width or false to auto size</td>
</tr>
</tbody>
</table>
<h2 id="css">CSS</h2>
<table>
<thead>
<tr>
<th>Class</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>.fs-lightbox</td>
<td>element</td>
<td>Base widget class</td>
</tr>
<tr>
<td>.fs-lightbox.fs-lightbox-open</td>
<td>modifier</td>
<td>Indicates open state</td>
</tr>
<tr>
<td>.fs-lightbox.fs-lightbox-loading</td>
<td>modifier</td>
<td>Indicates loading state</td>
</tr>
<tr>
<td>.fs-lightbox.fs-lightbox-animating</td>
<td>modifier</td>
<td>Indicates animating state</td>
</tr>
<tr>
<td>.fs-lightbox.fs-lightbox-mobile</td>
<td>modifier</td>
<td>Indicates mobile display</td>
</tr>
<tr>
<td>.fs-lightbox.fs-lightbox-fixed</td>
<td>modifier</td>
<td>Indicates fixed positioning</td>
</tr>
<tr>
<td>.fs-lightbox.fs-lightbox-inline</td>
<td>modifier</td>
<td>Indicates inline content</td>
</tr>
<tr>
<td>.fs-lightbox.fs-lightbox-iframed</td>
<td>modifier</td>
<td>Indicates iFrame content</td>
</tr>
<tr>
<td>.fs-lightbox-lock</td>
<td>modifier</td>
<td>Indicates locked state; Applied to body element</td>
</tr>
<tr>
<td>.fs-lightbox-overlay</td>
<td>element</td>
<td>Overlay element</td>
</tr>
<tr>
<td>.fs-lightbox-close</td>
<td>element</td>
<td>Close element</td>
</tr>
<tr>
<td>.fs-lightbox-loading_icon</td>
<td>element</td>
<td>Loading icon element</td>
</tr>
<tr>
<td>.fs-lightbox-container</td>
<td>element</td>
<td>Container element</td>
</tr>
<tr>
<td>.fs-lightbox-content</td>
<td>element</td>
<td>Content element</td>
</tr>
<tr>
<td>.fs-lightbox-image</td>
<td>element</td>
<td>Image element</td>
</tr>
<tr>
<td>.fs-lightbox-video</td>
<td>element</td>
<td>Video element</td>
</tr>
<tr>
<td>.fs-lightbox-iframe</td>
<td>element</td>
<td>iFrame element</td>
</tr>
<tr>
<td>.fs-lightbox-meta</td>
<td>element</td>
<td>Meta info element</td>
</tr>
<tr>
<td>.fs-lightbox-control</td>
<td>element</td>
<td>Control element</td>
</tr>
<tr>
<td>.fs-lightbox-control.fs-lightbox-control_previous</td>
<td>modifier</td>
<td>Indicates previous control</td>
</tr>
<tr>
<td>.fs-lightbox-control.fs-lightbox-control_next</td>
<td>modifier</td>
<td>Indicates next control</td>
</tr>
<tr>
<td>.fs-lightbox-control.fs-lightbox-control_disabled</td>
<td>modifier</td>
<td>Indicates disbaled state</td>
</tr>
<tr>
<td>.fs-lightbox-position</td>
<td>element</td>
<td>Position element</td>
</tr>
<tr>
<td>.fs-lightbox-position_current</td>
<td>element</td>
<td>Current position element</td>
</tr>
<tr>
<td>.fs-lightbox-position_total</td>
<td>element</td>
<td>Total position element</td>
</tr>
<tr>
<td>.fs-lightbox-caption</td>
<td>element</td>
<td>Caption element</td>
</tr>
<tr>
<td>.fs-lightbox-error</td>
<td>element</td>
<td>Error message element</td>
</tr>
</tbody>
</table>
</div></body></html>